:root {
    --primary-20:  #AED6F9;
    --primary-40:  #71A6EA;
    --primary-60:  #2E7DD2;
    --primary-80:  #1E5C9D;
    --primary-100: #123E6B;

    --secondary-20:  #FFFFFF;
    --secondary-40:  #FCFAF5;
    --secondary-60:  #F5EFDC;
    --secondary-80:  #DED6BA;
    --secondary-100: #BFB89D;

    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #ADB5BD;
    --gray-600: #6C757D;
    --gray-700: #495057;
    --gray-800: #343A40;
    --gray-900: #212529;
}