@import "./fonts.css";
@import './base.css';
@import "./buttons.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;

    font-family: "manrope-medium", sans-serif;
    font-size: 16px;
    line-height: 1.6;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-family: "manrope-bold", sans-serif;
}
h3, h4, h5, h6 {
    font-family: "manrope-medium", sans-serif;
}